header{
    background-color: lightseagreen;
    background-image: url(img/pattern.png);
    background-size: contain;
    
}
header>img{
    width: 20%;
}

*{
    margin:0;
    box-sizing: border-box;
}

.grey{
    color: grey;
    size: 20px;
}

.piccolo{
    size: 5px;
}

.giallo{
    display: inline-block;
    background-color: yellow;
}